<%= form_with(model: @students, local: true) do |form| %>
  <p> 1<%= @user_email %> </p>
  <% if @grader_application %>
    <!-- If @grader_application is not nil -->
    <p>Grader application is present.</p>
  <% else %>
    <!-- If @grader_application is nil -->
    <p>Grader application is not found.</p>
  <% end %>
<% end %>
