<h1>Editing recommend</h1>

<%= render "form", recommend: @recommend %>

<br>

<div>
  <%= link_to "Show this recommend", @recommend %> |
  <%= link_to "Back to recommends", recommends_path %>
</div>
